body {
  margin: 0;
}

.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'header'
    'main'
    'footer'
  ;
  font-family: 'Red Rose';
  overflow-x: hidden;
  position: relative;
}

main,
.main,
header {
  width: 90vw;
  margin: 0 auto;
}
