.main {
  grid-area: main;
  width: 100vw;
  color: #434343;
}

.main > section {
  width: 90vw;
  margin: 0 auto 70px;
}

.hero p {
  font-size: 4vw;
  line-height: 1.4;
  width: 85%;
  margin: 0 auto;
}

.hero_header {
  font-size: 6.2vw;
  font-weight: 400;
}

.hero_header > span {
  color: #A02279;
  font-weight: 700;
}

@media (min-width: 610px) {
  .grid_section h1 {
    font-size: 48px;
    margin: 50px 0 35px;
  }

  .hero_header {
    font-size: 56px;
  }
}

@media (min-width: 1024px) or (min-width: 1281px) {
  /* PCs only  */
  .hero {
    width: 90vw;
    display: flex;
    text-align: left;
    justify-content: space-between;
  }

  .hero > article {
    width: 50%;
    float: left;
  }

  .hero p {
    font-size: 1.6vw;
    width: 95%;
    margin: 0;
    line-height: 1.45;
  }
}

.img_grid {
  height: 270px;
  display: flex;
  margin: 10px auto;
}

.img_grid img {
  max-width: 45vw;
  border-radius: 15px;
}

.img_grid > div:first-of-type {
  position: relative;
  top: 56.5px;
  margin-right: 5px;
}

@media (min-width: 610px) and ((max-width: 1024px) or (max-width: 1281px)) {
  /* tablets only */
  .img_grid {
    width: 80%;
    height: 500px;
    margin-top: 47px;
  }
  .img_grid img {
    max-width: 35vw;
  }
}

@media (min-width: 1024px) or (min-width: 1281px) {
  /* PCs only  */
  .img_grid {
    margin: 0 0 50px auto;
    width: 475px;
    height: 440px;
    align-items: center;
  }

  .img_grid img {
    max-width: 234px;
  }

  .img_grid > div:first-of-type {
    top: 88px;
  }
}