.container {
  color: #434343;
  font-size: 12px;
  padding: 0.7em;
  width: -webkit-fill-available;
  margin: 0 auto;
  border: 1px solid #D7D7D7;
  cursor: pointer;
}

.container:hover {
  transform: scale(1.025);
}

.img_container {
  width: 100%;
  height: calc(265px - 1.4em);
  margin: 0 auto;
}

.container,
.img_container {
  border-radius: 15px;
  position: relative;
}

.img_container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  border: 1px solid #D7D7D7;
}

.img_container i {
  color: #D7D7D7;
  stroke: #0F051D;
  position: absolute;
}

.liked_container {
  position: absolute;
  border: none;
  background: transparent;
  left: 82%;
  top: 9px;
}

.img_container .liked {
  filter: invert(24%) sepia(51%) saturate(6636%) hue-rotate(320deg);
}

.text_container {
  margin-top: 0.7vw;
  text-align: left;
}

.text_container > div {
  display: flex;
  justify-content: space-between;
  height: 20px;
}

.text_container > .stars_container {
  height: fit-content;
  display: inline-block;
  position: relative;
  margin-top: 1.45em;
}

.star {
  color: #A02279;
  stroke: #A02279;
  width: 12px;
  height: 12px;
  object-fit: cover;
}