.container {
  display: flex;
  align-items: center;
  width: 70%;
  margin: 25px auto 30px;
}

.container,
.container input,
.container button {
  height: 35px;
  box-sizing: border-box;
}

.container input {
  border: 1px solid #A3A3A3;
  width: 65%;
  padding-left: 10px;
  border-radius: 8px 0px 0px 8px;
  outline: none;
}

.container input:focus {
  border: 1.4px groove #A3A3A3;
}

.container button {
  width: 35%;
  position: relative;
  right: 1px;
  border-radius:  0px 8px 1.58px 0px;
  background: 
    linear-gradient(90deg, #A02279 11.45%, #A02279 11.46%);
  border: 1px solid #A02279;
  color: white;
  font-family: 'Red Rose';
}

.container input::placeholder {
  font-size: 12px;
}

.container input::placeholder {
  color: #B8B8B8;
  font-family: 'Red Rose';
}

@media (min-width: 610px) {
  /* larger screens: tablets & PC */
  .container input::placeholder {
    font-size: 14px;
  }
}

@media (min-width: 610px) and ((max-width: 1024px) or (max-width: 1281px)) {
  /* tablets only */
  .container,
  .container input,
  .container button {
    height: 45px;
  }

}

@media (min-width: 1024px) or (min-width: 1281px) {
  /* PCs only  */
  .container {
    width: 90%;
    margin: 40px 0;
  }

  .container,
  .container input,
  .container button {
    height: 54px;
  }

  .container button,
  .container input::placeholder {
    font-size: 16px;
  }
}