.footer {
  max-width: 90vw;
  max-height: fit-content;
  padding: 5vh 6vw 4vh;
  display: grid;
  grid-area: footer;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 5vh;
  background: #1D1D1E;
}

@media (min-width: 610px) {
  .footer {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    min-height: calc(290px - 7vh);
    padding: 6vh 6vw 0;
  }
}

.footer > section img {
  width: 9em;
  object-fit: cover;
}

@media (min-width: 610px) {
  .footer > section img {
    width: 10.5em;
    height: 1.8em;
  }
}

@media (min-width: 1024px) or (min-width: 1281px) {
  /* PCs only  */
  .footer > section img {
    width: 15.75em;
    height: 2.7em;
  }
}

@media (min-width: 610px) and ((max-width: 1024px) or (max-width: 1281px)) {
  /* tablets only */
  .footer > section img {
    width: 10em;
    height: 1.7em;
  }
}

.footer > section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 169px;
}

.footer > section:first-of-type {
  height: 80%;
}

.footer h1 {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
}

.footer a,
.footer i,
.footer p {
  color: #F1F3F9;
  font-size: 14px;
  font-weight: 300;
}

.footer section:first-of-type > div {
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.brands_container p {
  font-size: 16px;
}

.brands {
  margin-bottom: 2.1em;
}

.footer .brands i {
  margin-right: 1.75em;
  font-size: 18px;
}