.container {
  background:
    linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  padding: 0 2.5vw;
  margin: 35px 0;
  flex-wrap: wrap;
}

.container > div {
  width: 32%;
}

.container img {
  height: 50px;
  width: 50%;
}

.container > div:last-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.5vw;
}

.container > div:last-of-type > img {
  width: 10%;
}

.container > div:last-of-type > span {
  font-family: 'Poppins';
  margin-left: 10px;
}
